#main-content {
    width: 75%;
    position: absolute;
    left: 20%;
    margin: 10px;
}

#main-content.noscroll {
    position: fixed;
}

li {
    list-style: none;
    margin-bottom: 30px;
}

@media (max-width: 900px) {
    #main-content {
        width: 70%;
        left: 25%;
    }
}

@media (max-width: 700px) {
    #main-content {
        width: 95%;
        left: 0;
    }

    #main-content.hide {
        display: none;
    }
}
