.header {
    background-color: #ffffff;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.button.anchor-button {
    border: 0;
    vertical-align: middle;
    padding: 0;
    color: #000000;
}

.anchor-button.active {
    color: #1d7fa9;
}

.link {
    vertical-align: middle;
    margin: 0 5px;
}

.place {
    float: right;
    font-size: 16px;
    font-weight: normal;
}
