.modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.button-container {
    margin: 15px 0;
}

.modal-overlay {
    z-index: 5;
    background-color: #80808054;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
