.container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 8px 6px -6px #d7dce1;
    margin-bottom: 15px;
}

.primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary .free {
    margin-right: 20px;
}
.secondary {
    display: flex;
    justify-content: space-between;
}

.para {
    color: #7f8ba1;
}

.title {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    flex-grow: 2;
}

.clock {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    fill: red;
    vertical-align: top;
}
