/* filters */
aside {
    width: 20%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
}
.text {
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    width: 90%;
    background-color: white;
}
::placeholder {
    color: #dbe0e6;
}

input[type='checkbox'] {
    margin-right: 15px;
}
fieldset {
    border: none;
    display: flex;
    margin: 0px;
    margin: 25px 0;
    padding: 0;
}
.free {
    padding: 2px 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    background-color: #47bb78;
    height: 100%;
}
@media (max-width: 900px) {
    aside {
        width: 25%;
    }
}

@media (max-width: 700px) {
    aside {
        display: none;
        width: 100%;
    }
    aside.show {
        display: flex;
    }
}

/* section */
