/* filters */
aside {
    width: 20%;
    height: 100%;
    position: absolute;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
}
.text {
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    width: 90%;
    background-color: white;
}
::placeholder {
    color: #dbe0e6;
}

input[type='checkbox'] {
    margin-right: 15px;
}
fieldset {
    border: none;
    display: flex;
    margin: 0px;
    margin-top: 25px;
    padding: 0;
}
.free {
    padding: 2px 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    background-color: #47bb78;
    height: 100%;
}

/* section */
